@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  background: url(images/bg_blur.JPEG);
  background-size: cover;
  /* cursor: none; */
}

/* index.html */
.start-game {
  background: rgb(95, 124, 65);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 20px;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  padding: 20px 50px;
  position: absolute;
  bottom: 20%;
  left: 10%;
  text-decoration: none;
  cursor: none;
}
.start-game:hover {
  background: rgb(63, 88, 60);
}

/* level.html */
#gameArea {
  border-radius: 20px; 
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.8);
  background: url(images/background1.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  overflow: hidden;
  cursor: none;
}

#gold {
  width: 50px;
  height: 50px;
  background-color: gold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#cursorDot {
  position: absolute;
  pointer-events: none;
  z-index: 10;
}
.target {
  width: 80px;
  height: 80px;
  position: inherit;
  left: -40px;
  top: -40px;
}
.target img{
  display: block;
  width: 100%;
}

#lifeContainer, #timerContainer{
  width: 210px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 210, 184, 0.7);
  padding: 7px;
  position: absolute;
  top: 15px;
  color: rgb(84, 67, 48);
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 500;
  border-radius: 10px;
}
#lifeContainer{
  width: 200px;
  left: 15px;
  justify-content: start;
}
#timerContainer{
  right: 15px;
}
/* стиль для пнг таймера */
#timerContainer img {
  vertical-align: middle; 
  width: 32px; 
  height: 32px;
  margin-right: 5px; 
  display: flex;
  align-items: center;
}
.life {
  vertical-align: middle; 
  width: 32px; 
  height: 32px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}
.life img{
  display: block;
  width: 100%;
}

  /* хб enemy3: 283x180; сделать +5 для стороны
     хб считаем по самому большому врагу; 
     при желании можно переделать на 3 класса */
.enemy {
  width: 287px;
  height: 185px;
  position: absolute;
}
.bonusSelection{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(19, 32, 19, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  gap: 20px;
}
.bonusTitle{
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 500; 
}
.container{
  display: flex;
}
.bonus-container{
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.bonusButton{
  width: 100px;
  height: 100px;
}
.bonusButton img{
  display: block;
  width: 100%;
}
.bonusName{
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400; 
}