@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&family=Titan+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  background: url(images/bg_blur.JPEG);
  background-size: cover;
  cursor: none;
}

/* index.html */
.start-game {
  background: rgb(117, 133, 47);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 20px;
  color: aliceblue;
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
  padding: 10px 80px;
  position: absolute;
  bottom: 10%;
  left: 7%;
  text-decoration: none;
  cursor: none;
}
.start-game:hover {
  background:  rgb(83, 95, 27);
  cursor: none;
}

.title{
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  color:rgb(255, 214, 101);
  text-shadow: 2px 2px 3px rgb(130, 145, 48),  0 0 0.2em rgb(46, 37, 8);
  letter-spacing: 4px;
  margin: 50px;
}

/* level.html */
#gameArea{
  border-radius: 20px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.8);
  background: url(images/background1tree.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  cursor: none;
}

#titlescreen{
  border-radius: 20px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.8);
  background: url(images/titlegif.gif);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  cursor: none;
}

#gold {
  width: 50px;
  height: 50px;
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#cursorDot {
  position: absolute;
  pointer-events: none;
  z-index: 30;
}
#customCursor{
  position: absolute;
  pointer-events: none;
  z-index: 30;
}

.target {
  width: 80px;
  height: 80px;
  position: inherit;
  left: -40px;
  top: -40px;
}
.myCursor{
  width: 80px;
  height: 80px;
  position: inherit;
  left: -40px;
  top: -40px;
}

.target img {
  display: block;
  width: 100%;
}

.info-panel {
  display: flex;
  justify-content: space-between;
}

#lifeContainer,
#timerContainer,
#playMusic {
  width: 210px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 210, 184, 0.7);
  padding: 7px;
  position: absolute;
  top: 15px;
  color: rgb(84, 67, 48);
  font: 500 24px "Rubik", sans-serif;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

#lifeContainer {
  width: 200px;
  left: 15px;
  justify-content: start;
}
#timerContainer {
  right: 15px;
}
#timerContainer img {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}
.life {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}
.life img {
  display: block;
  width: 100%;
}
#playMusic {
  width: 150px;
  left: 50%;
  font-size: 22px;
  border: none;
  cursor: none;
  transform: translateX(-50%);
}
#playMusic:hover {
  background-color: rgba(172, 148, 120, 0.7);
}
.current-level{
  position: absolute;
  left: 15px;
  bottom: 15px;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 210, 184, 0.7);
  padding: 10px 15px ;
  color: rgb(84, 67, 48);
  font: 500 26px "Rubik", sans-serif;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

/* хб enemy3: 283x180; сделать +5 для стороны
     хб считаем по самому большому врагу; 
     при желании можно переделать на 3 класса */
.enemy {
  width: 287px;
  height: 185px;
  position: absolute;
}
.boss{
  width: 350px;
  height: 200px;
  position: absolute;
}
.bonusSelection{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(56, 62, 37, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  gap: 20px;
}
.gameOver_section{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(56, 62, 37, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  gap: 20px;
}

.bonusTitle {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: rgb(247, 238, 226);
}

.container {
  display: flex;
}

.bonus-container {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.gameover-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  gap: 10px;
}
.gameover-title{
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: rgb(247, 238, 226);
}
.gameover-wrap img{
  border-radius: 10px;
  height: 200px;
}
#retry{
  width: inherit;
  height: 50px;
  padding: 8px 40px;
  background-color: #e0d1bd;
  border-radius: 10px;
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: rgb(68, 47, 44);
}

.bonusButton {
  width: 100px;
  height: 100px;
  padding: 8px;
  background-color: #e0d1bd;
  border-radius: 10px;
  border: none;
}
.bonusButton:hover {
  background-color: #a89781;
}
.bonusButton img {
  display: block;
  width: 100%;
}

.bonusName {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: rgb(247, 238, 226);
}
.tip{
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 65px;
  color: rgb(247, 238, 226);
  background-color: rgba(158, 141, 122, 0.7);
  font: 500 20px "Rubik", sans-serif;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.tip h3{
  font-size: 24px;
  color:rgba(237, 218, 197, 0.7);
  margin-bottom: 10px;
}
.tip p{
  color: rgba(46, 40, 32, 0.7);
}
.tip span{
  font-weight: 700;
  font-size: 24px;
  color: rgba(24, 20, 16, 0.7);
}